.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .logo {
    flex: 1;
    text-align: center;

    img {
      margin-top: 43px;
    }
  }

  .hero-content {
    min-height: 1024px;
    width: 80%;
    background-size: cover !important;
    max-width: 1141px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
      color: #fff;

      h1.head-title {
        font-size: 52px;
        margin-bottom: 0px;
        margin-top: 0px;
        font-family: SF Pro Display;
        font-weight: 100;
        margin-left: 35px;
      }

      .subtitle {
        .and {
          font-size: 144px;
          line-height: 110px;
          vertical-align: top;
          font-family: Montserrat;
          font-weight: 700;
        }

        .harmonize {
          color: #ffffff;
          font-family: Montserrat;
          font-size: 52px;
          font-weight: 600;
          letter-spacing: 0;
          line-height: 63px;
          text-align: center;
          vertical-align: top;
          top: -7px;
          position: relative;
        }
      }

      button {
        height: 40px;
        max-width: 220px;
        width: 100%;
        border-radius: 17px;
        background-color: #ffffff;
        border: unset;
        float: right;
        cursor: pointer;
        color: #009fdc;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: -40px;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .hero {
    .logo img {
      margin: 20px 0px;
    }

    .hero-content {
      width: 100%;
      min-height: 500px;

      .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -100px;

        h1.head-title {
          font-size: 35px;
          margin-left: 15px;
          max-width: 345px;
          width: 100%;
          margin: 0 auto;
        }

        .subtitle {
          .and {
            line-height: 68px;
            font-size: 50px;
          }

          .harmonize {
            font-size: 35px;
            top: -3px;
          }
        }

        button {
          top: 0px;
          float: unset;
          margin: 0 auto;
        }
      }
    }
  }
}
